* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
  .passwordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(home-img/logo1.webp) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .login {
    width: 600px;
    height: 450px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  }
  .login span {
    color: #0520ed;
    font-size: larger;
  }
  .login h1 {
    font-size: 36px;
    text-align: center;
  }
  .login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder {
    color: rgba(255, 255, 255, 0.549);
  }
  .input-box i {
    position: absolute;
    top: 30%;
    transform: translate(-50px);
    font-size: 20px;
  }
  .login .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
  }
  .remember-forgot label input {
    accent-color: #05ed09;
    margin-right: 3px;
  }
  .remember-forgot a {
    color: #000;
    text-decoration: none;
  }
  .remember-forgot a:hover {
    text-decoration: underline;
    color: #e80606;
  }
  .login .btn {
    width: 100%;
    height: 45px;
    color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
  .login .rejister-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
  }
  .rejister-link p a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
  }
  .rejister-link p a:hover {
    text-decoration: underline;
    color: #05ed09;
  }
  .login-error {
    color: red;
    margin: 10px 0;
  }
  /* end login page */
  